body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.pt-100 {
    padding-top: 100px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-150 {
    padding-top: 150px;
}

.btn-estimate {
    background-color: #bfa664;
    border-color: #bfa664;
    border-radius: 0;
    margin-top: 10px;
    padding: 15px;
    width: 230px;
}

.btn {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page-section {
    padding: 8rem 0;
}

#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #002552;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #002552;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
    text-transform: uppercase;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #bfa664;
}

#mainNav .navbar-nav li.active .nav-link {
  color: #bfa664 !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #bfa664 !important;
}

@media (min-width: 992px) {
 
  #mainNav .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-brand:hover {
      color: #002552;
  } 

  #mainNav .navbar-nav .nav-item .nav-link {
      padding: 0 1rem;
      text-transform: uppercase;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #bfa664;
  }

  #mainNav .navbar-nav .nav-item:last-child .nav-link {
      padding-right: 0;
  }
}

.banner {
    margin-top: -190px;
    background-image: url(../images/banner.png);
    height: 970px;
    position: relative;
}

.banner:before {
    background-color: #cfbb89;
    width: 25%;
    left: 0;
    transform: skew(-30deg);
    transform-origin: top;
    content: "";
    height: 818px;
    position: absolute;
}

.banner:after {
    background-image: url(../images/graphic.png);
    height: 900px;
    width: 900px;
    content: "";
    display: block;
    background-repeat: no-repeat;
    margin-right: -290px;
    float: right;
    margin-top: 274px;
}

.banner-info {
    position: absolute;
    margin-top: 410px;
    background-color: #362f65;
    width: 58%;
    left: 0;
    transform: skew(-30deg);
    transform-origin: top;
    text-align: center;
    padding: 28px;
    height: 400px;
    opacity: 0.85;
}

.banner-caption {
    padding-left: 20px;
    margin-left: 215px;
    display: inline-block;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    color: #fff;
    text-align: left;
}

.banner-caption span{
    color: #bfa664;
}
.banner-caption h2 {
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 65%;
}

.banner-caption p {
    line-height: 0.5;
    color: #797695;
}

.section-about {
    background-image: url(../images/section-2-bg.jpg);
    background-repeat: no-repeat;
}

.section-about .about-info {
    margin-left: 200px;
    width: 100%;
    position: absolute;
}

.section-about .about-info:before {
    background-color: #fff;
    width: 573px;
    transform: skew(-30deg);
    transform-origin: top;
    content: "";
    height: 81px;
    position: absolute;
    margin-top: -209px;
    margin-left: 200px;
}
.section-about .about-info:after {
    margin-top: -90px;
    margin-left: 762px;
    background-color: #6c6a9b;
    width: 40%;
    left: 0;
    transform: skew(-30deg);
    transform-origin: top;
    content: "";
    height: 251px;
    position: absolute;
}

.section-about .about-info span {
    color: #bfa664;
    font-weight: 500;
    letter-spacing: 1px;
}

.section-about .about-info h2 {
    color: #22206b;
    font-weight: bold;
}

.section-about .about-info h2:after {
    background-image: url(../images/graphic4.png);
    background-repeat: no-repeat;
    content: "";
    height: 1px;
    display: block;
    margin-top: 25px;
}

.section-about .about-info .btn-get-started {
    border-color: #bfa666;
    background-color: #fff;
    color: #bfa666;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px;
    width: 170px;
    margin-top: 15px;
    font-weight: bold;
}

.section-about .about-info .about-desc {
    font-weight: 500;
}

.section-about .about-info .about-additional-info {
    color: #878787;
}

.section-team {
    background-image: url(../images/section-3/bg1.png);
    background-repeat: no-repeat;
    margin-left: -315px;
    padding-left: 325px;
    margin-top: 25px;

}

.section-team .team-info-bg:before {
    background-image: url(../images/section-3/graphic1.png);
    background-repeat: no-repeat;
    content: "";
    width: 100%;
    height: 600px;
    display: block;
    margin-top: -170px;
    margin-left: -94px;
}

.section-team .team-info h2 {
    width: 60%;
    color: #22206b;
    font-weight: bold;

}

.section-team .team-info p {
    width: 75%;
}

.section-construction {
    background-image: url(../images/section-4/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -167px;
}

.section-construction .services .item h2 {
   color: #ffffff;
}

.section-construction .services .item p {
   color: #bfbfd7;
}

.section-construction .services .item h2:after {
    background-image: url(../images/graphic4.png);
    background-repeat: no-repeat;
    content: "";
    height: 2px;
    display: block;
    margin-top: -18px;
    width: 15%;
    margin-left: 185px;
}

.services .last-item .desc h2:after {
    margin-left: 340px !important;
}

.section-construction .services .item .desc {
    padding: 25px;
}

.section-construction .services .item .btn-item-request {
    border-color: #bfa666;
    color: #bfa666;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px;
    width: 50%;
    margin-top: 15px;
    font-weight: bold;
    position: relative;
    background-color: Transparent;
    background-repeat: no-repeat;
}

.section-construction .services .item .btn-action {
    padding: 12px;
    border-radius: 0;
    color: #fff;
    background-color: #bfa664;
    border: 1px solid #bfa664;
}

.section-construction .services .item ul li {
    color: #bbbcd1;
    margin-right: 8px;
}

.section-construction .services .item ul li:not(:first-child):before {
    content: "\2022";
    color: #bfa664;
    font-weight: bold;
    display: inline-block;
    padding-right: 8px;
}

.section-testimonial:before {
    background-image: url(../images/graphic2.png);
    background-repeat: no-repeat;
    content: "";
    height: 300px;
    display: block;
    margin-top: -206px;
    width: 30%;
    margin-left: 140px;
}

.section-testimonial:after {
    background-image: url(../images/graphic3.png);
    background-repeat: no-repeat;
    content: "";
    height: 300px;
    display: block;
    width: 50%;
    float: right;
    margin-right: -55px;
}

.section-testimonial {
    background-image: url(../images/section-5/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-testimonial .testimonial-info p {
    color: #15125f;
    font-size: 30px;
    width: 83%;
    margin: auto;
    padding: 20px;
}

.section-testimonial .testimonial-info img {
    border-radius: 50%;
    width: 9%;
    margin-top: 45px;
}

.section-testimonial .testimonial-info h5 {
    margin-top: 25px;
    color: #15125f;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-testimonial .testimonial-info .btn-more {
    border-color: #bfa666;
    color: #bfa666;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px;
    width: 20%;
    margin-top: 15px;
    font-weight: bold;
    background-color: Transparent;
    background-repeat: no-repeat;
}

.carousel-indicators {
    bottom: -55px;
}
.carousel-indicators li {
    display: inline-block;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: 1px solid #3b3885;;
    background-color: #3b3885;
}
.carousel-indicators .active {
    margin: 10px;
    border: 1px solid #c6b076;
    background-color: #c6b076;
}


.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #c6b076;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #c6b076;
}

.section-expertise {
    background-image: url(../images/section-6/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-expertise .expertise-info h2 {
    width: 500px;
    color: #ffffff;
    font-weight: bold;
}

.section-expertise .expertise-info p {
    color: #b9b7cf;
}

.section-expertise .thumbnail img {
    margin-left: 230px;
}

.section-expertise .expertise-contact p {
    color: #ffffff;
}
.section-expertise .expertise-contact .tel {
    font-size: 20px;
    font-weight: 600;
}
.section-expertise .expertise-contact .address {
    line-height: 5px;
}

.footer {
    background-image: url(../images/footer/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;
}

.footer .social svg{
    margin-left: 25px;
}

.footer .estimate p {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0;
}

.footer .copyright p {
    color: #ffffff;
    line-height: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}